<button *ngIf="createIsClosed" (click)="createIsClosed = false">Create New Bucket</button>
<div *ngIf="!createIsClosed && data && data.locations">
  <h6>Create new bucket</h6>
  <form [formGroup]="createBucketForm" (ngSubmit)="onSubmit(createBucketForm.value)">
    <table>
      <tr>
        <td>
          <label>Bucket name*</label>
        </td>
        <td>
          <label>Location*</label>
        </td>
      </tr>
      <tr>
        <td>
          <input formControlName="name">
        </td>
        <td>
          <select formControlName="location">
            <option *ngFor="let location of data.locations; let i = index" [ngValue]="location.id">
              {{location.name}}
            </option>
          </select>
        </td>
      </tr>
    </table>
    <button class=" button" type="submit" (click)="createIsClosed = true">Create Bucket</button>
  </form>
</div>